@model Company
@{
    ViewData["Title"] = "Upsert";
}

<h1>Upsert</h1>

<form method="post" asp-area="Admin" asp-controller="Company" asp-action="Upsert">
    @Html.AntiForgeryToken()
    <div class="border p-3 mt-4 row">
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.Id != 0 ? "Edit" : "Create") Product</h2>
            <hr />
        </div>
        <input type="hidden" asp-for="Id" />
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="StreetAddress"></label>
            <textarea asp-for="StreetAddress" rows="3" class="form-control"></textarea>
            <span asp-validation-for="StreetAddress" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="City"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="State"></label>
            <input asp-for="State" class="form-control" />
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="PostalCode"></label>
            <input asp-for="PostalCode" class="form-control" />
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="col-12">
            @if (Model.Id != 0)
            {
                <button type="submit" class="btn btn-primary" style="width:auto">Update</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" style="width:auto">Create</button>
            }
            <a asp-controller="Company" asp-action="Index" class="btn btn-secondary" style="width:auto">
                Back to List
            </a>
        </div>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}
